## Ignore Datasets files

# Emovo / WAV_Demos / Noises
Datasets/

## Ignore Result files
RESULT_DIR/

## Ignore CSV files
CSV/

## Ignore __pycache__ directories
ser-experiment/__pycache__/
ser-experiment/*/__pycache__/
ser-experiment/models/*/__pycache__/
ser-experiment/models/*/*/__pycache__/
