## Ignore Datasets files

# Emovo / WAV_Demos / Noises
Datasets/

## Ignore Result files
Results/Models/

## Ignore CSV files
CSV/

## Ignore model filenames for now
*.pt
*.pth

## Ignore __pycache__ directories
ser-experiment/__pycache__/
ser-experiment/*/__pycache__/
ser-experiment/models/*/__pycache__/
ser-experiment/models/*/*/__pycache__/
